streamlit==1.8.0
streamlit-chat==0.0.2.1
Pillow==8.2.0
keras==2.7.0
keras-adversarial==0.0.3
Keras-Preprocessing==1.1.2
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-gpu==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-text==2.7.3
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
opencv-python-headless==4.5.5.64
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
pandas @ file:///D:/bld/pandas_1639398467125/work
pandas-datareader==0.10.0
nltk==3.6.5
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work